//*************************** header

@include keyframe_sub(main_menu_hover) {
  0% {
    @include transform(scale(1, 1));
  }
  40% {
    @include transform(scale(.5, 2));
  }
  80% {
    @include transform(scale(1.3, .8));
  }
  100% {
    @include transform(scale(1, 1));
  }
}

@include keyframe_sub(phone_hover) {
  0% {
    @include transform(rotate(0deg));
  }
  10% {
    @include transform(rotate(2deg));
  }
  20% {
    @include transform(rotate(-2deg));
  }
  30% {
    @include transform(rotate(0deg));
  }
  40% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(2deg));
  }
  60% {
    @include transform(rotate(-2deg));
  }
  70% {
    @include transform(rotate(0deg));
  }
  80% {
    @include transform(rotate(2deg));
  }
  90% {
    @include transform(rotate(-2deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 25 * $m;
  line-height: 45 * $m;
  z-index: 1;
  font-size: 16px;
}

.logo {
  display: inline-block;
  position: relative;
  width: 150 * $m;
  //margin: -4 * $m 23 * $m 0 4 * $m;
  margin: -4 * $m 0 0;
  
  span,
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  span {
    font-size: 15 * $m;
    color: #a7a7a7;
    padding-left: 12 * $m;
    letter-spacing: -.3 * $m;
  }
}

.callback_block {
  float: right;
}


// *********  menu

.main_menu {
  @extend %clearfix;
  padding-top: 25 * $m;
  line-height: 45 * $m;
  margin: 0 -24 * $m 50 * $m;
  font-size: 16px;
  text-align: center;
  
  &.menu_light {
    .btn_coral {
      color: #fff;
    }
  }
}

.menu_item {
  float: left;

  &.logo_holder {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  &.m_item_right {
    float: right;
  }
  
  .apply_btn {
    margin-right: 10 * $m;
    margin-left: 10 * $m;
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  font: 300 18 * $m $UbuntuLight;
  color: #000;
  margin: 0 24 * $m / 1.25;

  .menu_light & {
    color: #fff;
  }
  
  &.bg_green {
    .link_text:before {
      background: $gl_mint;
    }
  }

  &.bg_blue {
    .link_text:before {
      background: $gl_blue;
    }
  }

  &.bg_red {
    .link_text:before {
      background: $gl_coral;
    }
  }

  &.bg_orange {
    .link_text:before {
      background: $gl_orange;
    }
  }

  &:hover {
    .link_text:before {
      @include animation_custom(main_menu_hover 1s cubic-bezier(0.77, 0, 0.175, 1));
    }
  }
  
}

.link_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8 * $m 0 11 * $m;
  letter-spacing: -.2 * $m;

  &:before {
    @extend %translate3d;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 106 * $m;
    margin-left: -53 * $m;
    height: 3 * $m;
  }
}



