$icomoon-font-path: "fonts" !default;

$i-cross: "\e90b";
$i-doc_xls: "\e939";
$i-check: "\e901";
$i-arrow_left: "\e925";
$i-arrow_right: "\e92b";
$i-chevron_left: "\e92c";
$i-chevron_right: "\e92d";
$i-email: "\e92e";
$i-facebook: "\e92f";
$i-go_top: "\e930";
$i-linked_in: "\e931";
$i-question: "\e932";
$i-opt: "\e933";
$i-print: "\e934";
$i-rubl: "\e935";
$i-search: "\e936";
$i-your-logo: "\e937";
$i-sound: "\e902";
$i-boudoir: "\e912";
$i-ticket: "\e913";
$i-stripe: "\e914";
$i-taddy: "\e915";
$i-window-flower: "\e916";
$i-rose: "\e917";
$i-lips: "\e918";
$i-car: "\e919";
$i-joystick: "\e91a";
$i-cart: "\e91b";
$i-books: "\e91c";
$i-mustache: "\e91d";
$i-knife-fork: "\e91e";
$i-choose: "\e91f";
$i-parfume: "\e920";
$i-gift: "\e921";
$i-parachute: "\e922";
$i-purchases: "\e923";
$i-beach: "\e924";
$i-ball: "\e926";
$i-finery: "\e927";
$i-hat: "\e928";
$i-hobby: "\e929";
$i-monitor: "\e92a";
$i-clock: "\e900";
$i-logo-path1: "\e903";
$i-logo-path2: "\e904";
$i-logo-path3: "\e905";
$i-logo-path4: "\e906";
$i-logo-path5: "\e907";
$i-logo-path6: "\e908";
$i-logo-path7: "\e909";
$i-logo-path8: "\e90a";
$i-logo-path9: "\e90c";
$i-logo-path10: "\e90d";
$i-logo-path11: "\e90e";
$i-logo-path12: "\e90f";
$i-my_photo: "\e910";
$i-rub: "\e911";

